@import '../../styles/_var.css';

.topNav {
  width: 100%;
  background-color: var(--theColor);

  height: 60px;
  & .topNavContent {
    width: 1200px;
    height: 100%;
    line-height: 60px;
    background-color: #fff;
    margin: 0 auto;
  }
  & .topNavMenuWrap {
    list-style: none;
    display: flex;
  }
}
